body {
  background-color: $color-secondary;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: $color-primary;
  text-shadow: $text-shadow;
}

main {
  @include center(90%);
}

.content {
  @include border($radius: 15px);
}
