body {
  min-height: 100vh;
  background-color: $color-secondary;
  font-family: $main-font;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: $color-primary;
  text-shadow: $text-shadow;
}

h2, h4 {
  margin-top: 0;
}

p {
  font-family: $text-font;
  font-size: $font-size;
  margin: 0;
}
