body {
  min-height: 100vh;
  background-color: $color-secondary;
  font-family: $main-font;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: $color-primary;
  text-shadow: $text-shadow;
  padding: 0 $header-padding;
}

h2, h4 {
  color: $color-secondary;
  margin-top: 0;
}

p {
  font-family: $text-font;
  text-align: justify;
}

a {
  text-decoration: none;
}
