body {
  min-width: $min-width;
  background-color: $color-secondary;
  font-family: $main-font;

  ////// Media Query //////
  @include query($bp-max) {
    font-size: $font-size-lg;
  }
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  color: $color-primary;
  margin: 0;
}

h2,
h3,
h4,
h5 {
  color: $color-secondary;
  margin: 0;
}

p {
  font-family: $text-font;
  margin: 0;
  padding-bottom: $text-padding;
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}
