.content {
  margin-bottom: $margin-bottom;

  .title {
    order: -1;
    font-size: 2em;
    margin: 0;
    padding-bottom: $header-padding;
  }

  h3 {
    font-size: 1.5em;
    padding-top: $text-padding;
  }

  > article {
    @include flex($dir: column);
    background-color: $color-primary;
    padding: $text-padding;
  }
}
