main {
  padding: $text-padding;
  margin-bottom: $margin-bottom;
  background-color: $color-primary;
  .content {
    .title {
      font-size: 2em;
      margin: 0;
      padding-bottom: $header-padding;
    }
    h3 {
      font-size: 1.5em;
      padding: $text-padding 0;
    }
  }
}
