footer {
  padding: $text-padding;
  color: $color-primary;
  h4 {
    color: $color-primary;
    padding-bottom: $text-padding;
    font-size: 1.3em;
  }
  h5 {
    color: $color-primary;
    padding: $text-padding 0;
    font-size: 1.2em;
  }
  p {
    font-size: 0.8em;
  }
  .contact {
    a {
      font-size: 1.8em;
    }
  }
}
