// Center containers
@mixin center($w) {
  width: $w;
  margin: auto;
  max-width: $max-width;
}

// Borders
@mixin border {
  border: $border solid $border-color;
  @content;
}

@mixin outline {
  &:focus {
    outline: $outline;
  }
}

// Flex Container
@mixin flex($dir: null, $wrap: null, $just: null) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  @content;
}

// Unordered List
@mixin list {
  padding: 0;
  margin: 0;
  list-style: none;
}
