// Center containers
@mixin center($w) {
  width: $w;
  margin: auto;
  max-width: $max-width;
}

// Borders
@mixin border($px: 10px, $radius: 0) {
  border: $px solid $color-accent;
  border-radius: $radius;
}
