// Colors
$color-primary: #f2f2f2;
$color-secondary: #002244;
$color-accent: #8a9396;
$border-color: $color-accent;

// Text
$font-size: 1em;
$font-size-lg: 1.1em;
$main-font: 'Oswald', 'Arial Narrow', 'Arial', sans-serif;
$text-font: 'Open Sans', sans-serif;
$text-padding: 1em;
$header-padding: 0.5em;
$text-shadow: -2px 0px black, 0px -2px black, -1px 0px black, 0px -1px black, 1px 0px black, 0px 1px black, 2px 0px black, 0px 2px black;
$outline: 1px auto $color-primary;

// Images
$img-max-height: 300px;

// Layout
$max-width: 1300px;
$min-width: 320px;
$border: 5px;
$margin-bottom: 50px;

// Animations
$transition-effect: 1s cubic-bezier(0.4, 0, 0.2, 1);


// Breakpoints
$bp-xs: 620px;
$bp-sm: 720px;
$bp-md: 820px;
$bp-md2: 920px;
$bp-lg: 1040px;
$bp-max: $max-width;
