// Colors
$color-primary: #69BE28;
$color-secondary: #002244;
$color-accent: #A5ACAF;

// Text
$font-size: 1.1em;
$text-padding: 1em;
$text-shadow: -2px 0px black, 0px -2px black, -1px 0px black, 0px -1px black, 1px 0px black, 0px 1px black, 2px 0px black, 0px 2px black;

// Layout
$max-width: 1300px;
$border: 5px;
$margin-bottom: 50px;
