.overview {
  @include layout-text-img;

  img {
    ////// Media Query //////
    @include query($bp-sm) {
      width: auto;
      max-width: none;
      height: 100%;
      transform: translateX(-80px);
    }


    ////// Media Query //////
    @include query($bp-md2) {
      transform: translateX(-50px);
    }


    ////// Media Query //////
    @include query($bp-lg) {
      width: 100%;
      max-width: 100%;
      height: auto;
      transform: none;
    }
  }
}
