.menu {
  @include query($breakpoint-one) {
    @include flex;
    width: 100%;
    .menu-items {
      max-height: 20em;
    }
  }
  &-items {
    @include list;
    @include flex($dir: column) {
      align-items: center;
    }
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: $transition-effect;
    background-color: $color-primary;
    @include query($breakpoint-one) {
      flex-direction: row;
      background-color: $color-accent;
    }
  }
  &-item {
    width: 100%;
    text-align: center;
    border-top: 1px solid $color-primary;
    a {
      @include outline;
      display: block;
      padding: .5em;
      font-size: 1.5em;
      color: $color-primary;
      background-color: $color-accent;
      &:hover {
        opacity: 0.7;
      }
    }
    @include query($breakpoint-one) {
      border: none;
    }
  }
  &.is-active {
    .menu-items {
      height: auto;
      max-height: 20em;
      transition: $transition-effect;
    }
  }
}
