.menu {
  display: flex;
  margin-top: 3px;
  height: 60px;
  width: auto;
  min-width: 1283px;
  margin-left: 1.85%;
  margin-right: 1.85%;
  background-color: $color-primary;
  box-shadow: 3px -3px black, -3px 3px black, 3px 3px black, -3px -3px black;
}
