.nav {

  a {
    @include outline;
    display: block;
    padding: .5em;
    font-size: 1.5em;
    color: $color-primary;
    background-color: $color-accent;

    &:hover {
      opacity: 0.7;
    }
  }

  &bar {
    margin: auto;
    @include flex($dir: column);
    background-color: $color-accent;

    .hamburger {
      @include outline;
      
      &-container {
        @include flex($dir: row-reverse);
        padding: 0.2em;
      }
    }
  }

  &-items {
    @include list;
    @include flex($dir: column) {
      align-items: center;
    };
    max-height: 0;
    overflow: hidden;
    transition: 1s $transition-effect;
    background-color: $color-primary;
  }

  &-item {
    &:first-child{
      border-top: 1px solid $color-primary;
    }

    width: 100%;
    text-align: center;
    border-bottom: 1px solid $color-primary;
  }


  &.is-active {
    .nav-items {
      height: auto;
      max-height: 20em;
      transition: 2s $transition-effect;
    }
  }
}
