.nav-bar {
  margin: auto;
  display: flex;
  height: 60px;
  background-color: $color-primary;

  ul {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }
  
  a {
    font-size: 1.2em;
    text-decoration: none;
    color: $color-secondary;
  }
}
