.information {
  .disclaimer {
    ////// Media Query //////
    @include query($bp-xs) {
      width: 80%;
    }


    ////// Media Query //////
    @include query($bp-md) {
      width: 70%;
    }
  }

  .contact {
    a {
      font-size: 1.8em;
    }
  }

  ////// Media Query //////
  @include query($bp-xs) {
    @include flex($just: space-between);
  }


  ////// Media Query //////
  @include query($bp-md) {
    width: 70%;
  }
}
