.navbar {
  background-color: $color-accent;

  &-container {
    ////// Media Query //////
    @include query($bp-xs) {
      @include flex($just: space-between);
    }


    ////// Media Query //////
    @include query($bp-sm) {
      @include center;
    }
  }

  &-icons {
    @include flex($just: space-between);

    .logo {
      width: 60px;
      padding: 0 $text-padding;

      ////// Media Query //////
      @include query($bp-sm) {
        padding: 0;
      }
    }

    .hamburger {
      @include outline;

      &-container {
        @include flex($dir: row-reverse);

        padding: 0.2em;

        ////// Media Query //////
        @include query($bp-xs) {
          display: none;
        }
      }
    }
  }
}
