footer
  h4 Go Hawks '17
  section.information
    .disclaimer
      h5 Disclaimer
      - const { disclaimer } = footer;
      p= disclaimer
    .contact
      h5 Contact
      .links
        a(href="https://github.com/GoPerdomo/gohawks17")
          i.fab.fa-github
        a(href="mailto:goperdomo@gmail.com")
          i.fas.fa-at
