extends layout.pug

block content
  section.overview
    h2.title Overview
    article.overview-info
      .overview-text
        p The Seattle Seahawks is coming back from their 2016 season with a 10-6-1 record on the regular season and a playoff apperance, where they defeated the Detroid Lions in the Wild Card game, but couldn't move past the Atlanta Falcons on their way to the Super Bowl LI.
        p Head Coach Pete Carroll and General Manager John Schneider count on this offseason to bring the Seahawks to its 6° consecutive playoff appearance, which would set a franchise record, by fulfilling the team needs. In order to do that they rely on signing veterans on the Free Agency, but mostly on the Draft, where their magic works the best with an unusual good eye for rookie talents.
      .overview-photo
        img(src="images/carroll-wilson.jpg" alt="Carroll and Wilson")
