<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="images/favicon.ico" rel="shortcut icon")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")
    link(href="styles/css/main.css" rel="stylesheet")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(defer src="scripts/hamburger.js" type="application/javascript" charset="utf-8")
    title Go Hawks '17
  body
    include includes/header.pug
    main
      block content
    include includes/footer.pug
