extends layout.pug

block content
  section.needs
    h2.title Team Needs
    article
      each need in needs
        - const { title, texts } = need;
        article.need
          h3= title
          .need-text
            each text in texts
              p= text
