.overview {
  @include layout-text-img;
  img {
    @include query($bp-sm) {
      width: auto;
      max-width: none;
      height: 100%;
      transform: translateX(-80px);
    }
    @include query($bp-md2) {
      transform: translateX(-50px);
    }
    @include query($bp-lg) {
      width: 100%;
      max-width: 100%;
      height: auto;
      transform: none;
    }
  }
}
