.overview {
  display: flex;
  background-color: $color-primary;
  border: solid;
  border-color: $color-secondary;
  border-width: 5px;
}

.overview-text {
  border-right: solid;
  border-color: $color-secondary;
  border-width: 5px;
  padding: 10px;
}
