.player {
  @include border();
  @include flex($wrap: wrap);
  
  &-info {
    @include flex($dir: column);
    flex: 1;
    padding: $text-padding;
    background-color: $color-primary;
  }
  
  &-description {
    flex: 1;
  }

  h3 {
    margin-top: 0;
  }
}
