.location-title {
  background-color: $color-primary;
  border: solid;
  border-width: 5px;
  border-color: $color-secondary;
}

.games {
  background-color: $color-primary;
  height: 400px;
  border: solid;
  border-width: 5px;
  border-color: $color-secondary;
  border-top-width: 0px;
}

.team-line {
  display: flex;
}

.team {
  display: block;
  text-align: center;
  width: 500px;
  height: 125px;
  padding-top: 50px;
}

.team-photo {
  height: 100px;
}
