.location {
  padding: $text-padding;
  
  .games {
    @include flex($wrap: wrap);
    @include list;
  }
  
  .team {
    @include flex($dir: column-reverse);
    align-items: center;
    width: 25%;
    padding: 20px 0;
  }
  
  p {
    padding: $text-padding;
    font-weight: bold;
  }

  img {
    height: 100px;
  }
}
