.location {  
  .games {
    @include flex($wrap: wrap);
    @include list;
  }
  
  .team {
    @include flex($dir: column-reverse);
    align-items: center;
    width: 50%;
    margin: 2em 0;
  }

  img {
    height: 100px;
    padding-bottom: $text-padding;
  }
}
